.app-title{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.navbar{
    
}
.theme{
    margin-left: auto;
}
.navbar{
    padding:0 20px;
    display: flex;
    background-color: var(--primary-color);
    color: #fff;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    height: var(--nav-bar-height);
}
.logo{
    height: 40px;
    width: 40px;
}